/*limpiar cascada*/
html, body{font-family:Arial, Helvetica, sans-serif;}
*{margin:0; padding:0; border:0;}
li{list-style:none;}
/*libreria*/
.center{display:grid; place-items:center;}
.centerText{text-align:center;}
.cleara{text-decoration:none;}
.naranja{background-color:#f95911;}
.gris{background-color:#e5e5e5;}
.blanco{background-color:#fff;}
.ftBlack{color:#000;}
.ftWhite{color:#fff;}
.ftNaranja{color:#f95911;}
.border{border-radius:25px;}
.right{float:right;}
.left{float:left;}
.width100{width:100%;}
.padding25bottom{padding-bottom:25px;}
.padding100bottom{padding-bottom:100px;}
.padding25left{padding-left:25px;}
.padding{padding:10%;}
.padding3{padding:3%;}
.margin2{margin:2%;}

/*estructura*/
/*barra*/
#barra{height:60px;}
#barCenter{width:95%;}
#menuBar{display:none}
#itemBar{display:inline;}
@media(min-width:1000px){#menuBar{display:block;} #btnBar{display:none;}}
/*ventana*/
/*funcion menu*/
#funcionMenu{display:none;}
#navMenu{display:none; z-index:1; position:absolute;}
.inputFuncion:checked + #navMenu{display:block;}
/*detalles ventana*/
#ventana{top:-60px; position:relative;}
#ventana1, #ventana2{width:50%; height:2000px; padding-top:50px; display:inline-block;}
#ventana1{background-color:rgba(0, 0, 0, 0.685); color:rgba(0, 0, 0, 0);}
#ventana2{float:right;background-color:rgba(0, 0, 0, 0.925);}
#ventanaClosed{height:2000px;}
#h2Closed{position:absolute; top:1%; right:3%;}
/*articulos*/
/*imagen principal*/
#imgmovil{display:block; height:300px;}
#imgtable{display:none}
@media(min-width:500px){#imgmovil{display:none;} #imgtable{display:block}}
@media(min-width:800px){#imgtable{height:400px;}}
/*flace principal*/
#how{height:200px;}
#howNaranja{width:70%; height:100%; bottom:50px; position: relative; margin-left:10%;}
#howBlanco{left:10%; position: relative; top:25px}
@media(min-width:500px){#how{height:300px;} #howNaranja{width:55%;} #howBlanco{width:115%;}}
@media(min-width:800px){#howNaranja{width:40%;} #howBlanco{width:130%;}}
/*disenno hostin marketing support*/
#dhmscenter{display:grid; place-items:center; position: relative;}
#dhmscentrado{width:95%;}
#dhmsfondo{height:150px; position:absolute}
@media(min-width:700px){#dhmsorden{width:39%; display:inline-block;}}
@media(min-width:900px){#dhmsorden{width:14%;}}
/*desarrollo digital and resumen*/















