html, body{font-family:Arial,Helvetica,sans-serif; margin:0; padding:0;}
section{background:rgb(204, 255, 233);}
footer section.cont{background:rgb(91,202,255);}
footer section.web{background:#000;}
h3{color:#6e6efc;}
p{margin:5%; color:#8989CE;}
h2{color:#000;}
a{text-decoration:none; color:#000;}
article img{width:45%; border-radius:2%;}
article video{width:45%; border-radius:2%;}
.borde{border-radius:50%;}
.gjh{position:relative; bottom: -10px; margin:0;}
.hjk{color:#8989CE;}
header{ color:#000; position:fixed; width:100%;}
#unem{background:rgb(91,202,255,0.8);}
nav{display:inline-block;}
#rotar{position:relative;  transform:rotate(90deg); top:-18px;}
ul, li{list-style:none;}
#me{float:right ; text-align:right;}
.en li a{border-radius:5px; color:#000; display:inline-block;}
.en li a:hover{border:2px solid #000; border-radius:5px; background-color:rgb(204, 255, 233); text-decoration:none;}
.en li ul{display:none; position:relative;}
.en li:hover > ul{display:inline-block; border-radius:5px; border:2px solid #000;}
#dsa{background:rgb(91,202,255,0.8); border-radius:5px; border:2px solid #000; position:relative; text-align:right}
#dsa li ul li{position:relative; text-align:right;}
#dsa{width:100px;}
#dsa li ul li{width:100px;}
ul, ol, li{font-size:20px;}
#dsa{padding:0;margin:0;}
.en li ul{min-width:140px;}
@media (min-width:280px){
header h2{padding:0px 0px 0px 10px;}
#dsa{top:-12px;bottom:0;left:0;right:0;}
#dsa li ul li{top:0;bottom:0;left:0;right:0;}
.en li a{padding:10px 10px;}
footer{padding-bottom: 20px; background: #000;}
body{margin:0;}
section{padding:1px 20px 1px 20px;}}
@media (min-width:320px){
header h2{padding:0px 0px 0px 0px;}
#dsa{top:-40px;bottom:0;left:0;right:0;}
#dsa li ul li{top:0;bottom:0;left:0;right:0;}
.en li a{padding:10px 10px;}}
@media (min-width:360px){
header h2{padding:0px 0px 0px 10px;}
#dsa{top:-40px;bottom:0;left:0;right:0;}
#dsa li ul li{top:0;bottom:0;left:0;right:0;}
.en li a{padding:10px 15px;}
article{text-align:center;}
body{margin:0;}
section{padding:1px 20px 1px 20px}
footer{padding-bottom: 20px; background: #000;}
.zxc{position:relative; bottom: -1px;}}
@media (min-width:414px){
header h2{padding:0px 0px 0px 10px;}
#dsa{top:-40px;bottom:0;left:0;right:0;}
#dsa li ul li{top:0;bottom:0;left:0;right:0;}
article{text-align:center;}
section{padding:1px 30px 1px 30px}
.zxc{position:relative; bottom: -1px;}}
@media (min-width:768px){
header h2{padding:0px 0px 0px 10px;}
#dsa{top:-40px;bottom:0;left:0;right:0;}
#dsa li ul li{top:0;bottom:0;left:0;right:0;}
section{padding:1px 30px 1px 30px;}
div{width:45%; display:inline-block;}
.zxc{position:relative; bottom: -10px;}}
@media (min-width:1280px){
header h2{padding:0px 0px 0px 10px;}
#dsa{top:-40px;bottom:0;left:0;right:0;}
#dsa li ul li{top:0;bottom:0;left:0;right:0;}
section{padding:1px 30px 1px 30px}
div{width:45%; display:inline-block;}
.zxc{position:relative; bottom:-10px;}}