



#a, #b, #c, #d, #e, #f, #g, #h{
    height:50px;
    width:100px;
}
#a{background-color:#fff;}
#b{background-color:rgb(253, 190, 225);}
#c{background-color:rgb(236, 68, 186);}
#d{background-color:rgb(126, 21, 94);}
#e{background-color:rgb(206, 252, 208);}
#f{background-color:rgb(19, 138, 39);}
#g{background-color:rgb(9, 32, 16);}
#h{background-color:#000;}